<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang='en' ng-app='simpleChatRoom' class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html lang='en' ng-app='simpleChatRoom' class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html lang='en' ng-app='simpleChatRoom' class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html lang='en' ng-app='simpleChatRoom' class='no-js'> <!--<![endif]-->
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='shortcut icon' href='favicon.png'>
		<title>Simple Chat Room</title>
		<meta name='description' content=''>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600' type='text/css'>
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css'>
		<link rel='stylesheet' href='/app/vendor/bootstrap.min.css'>
		<link rel='stylesheet' href='/app/vendor/animate.min.css'>
		<% switch @env : %>
			<% when 'prod' : %>
				<link rel='stylesheet' href='/app/stylesheets/app.css'>
			<% end %>
			<% else : %>
				<link rel='stylesheet' href='/app/stylesheets/app.css'>
			<% end %>
		<% end %>
	</head>
	<body ng-controller='ChatCtrl'>
		<!--[if lt IE 7]>
			<p class='browsehappy'>You are using an<strong>outdated</strong>browser. Please<a href='http://browsehappy.com/'>upgrade your browser</a>to improve your experience.</p>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src='/app/vendor/modernizr-2.8.3.min.js'></script>
			<script src='/app/vendor/json3.min.js'></script>
		<![endif]-->
		<div class='navbar navbar-default' role='navigation'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<button type='button' class='navbar-toggle' ng-click='toggleDropdown($event)'>
						<span class='sr-only'>Simple Chat Room</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='/#/'>
						<i class='ion-ios7-pulse-strong'></i>
						<span>Simple Chat Room</span>
					</a>
				</div>
				<div class='btn-group nav-dropdown' dropdown is-open='status.isopen'>
					<ul class='dropdown-menu' role='menu'>
						<li>
							<a href='/#/'>Home</a>
						</li>
					</ul>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav'>
						<li>
							<a href='/#/'>Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ui-view class='fadeZoom'></div>
		<script src='/app/vendor/angular.min.js'></script>
		<script src='/app/vendor/angular-messages.min.js'></script>
		<script src='/app/vendor/angular-resource.min.js'></script>
		<script src='/app/vendor/angular-ui-router.min.js'></script>
		<script src='/app/vendor/angular-animate.min.js'></script>
		<script src='/app/vendor/socket.min.js'></script>
		<script src='/app/vendor/scrollglue.js'></script>
		<% switch @env : %>
			<% when 'prod' : %>
				<script src='/app/app.js'></script>
			<% end %>
			<% else : %>
				<script src='/app/vendor/ngStrapHelpersDimensions.js'></script>
				<script src='/app/vendor/ngStrapModal.js'></script>
				<script src='/app/vendor/ngStrapAlert.js'></script>
				<script src='/app/vendor/ngStrap.tpl.js'></script>
				<script src='/app/vendor/angular-ui-bootstrap-dropdown.js'></script>
				<script src='/app/app.js'></script>
				<script src='/app/controllers/chat.js'></script>
				<script src='/app/services/chat.js'></script>
			<% end %>
		<% end %>
	</body>
</html>