<div class='container chat-room'>
	<div class='row new-user' ng-if='newUser'>
		<div class='center-form panel'>
			<div class='panel-body'>
				<h2 class='text-center'>Sign Up</h2>
				<form method='post' ng-submit='signup()' name='signupForm'>
					<div class='form-group has-feedback' ng-class="{ 'has-error' : signupForm.userName.$invalid && signupForm.userName.$dirty }">
						<input class='form-control input-lg username-input' type='text' name='userName' ng-model='createUserInfo.username' placeholder='Username' ng-minlength='6' ng-maxlength='40' required autofocus>
						<span class='form-control-feedback'></span>
						<div class='help-block text-danger' ng-if='signupForm.userName.$dirty' ng-messages='signupForm.userName.$error'>
							<div ng-message='required'>Username is required.</div>
						</div>
					</div>
					<button type='submit' ng-disabled='signupForm.$invalid' class='btn btn-lg btn-block btn-primary signup-button'>Sign Up</button>
				</form>
			</div>
		</div>
	</div>
	<div class='panel panel-default new-user' ng-if='!newUser'>
		<div class='panel-heading'>Chat Room</div>
		<div class='panel-body'>
			<ul class='chat-room-contents' scroll-glue>
				<li ng-if='messages.length != 0' data-ng-repeat='message in messages'>
					<span class='message-by'>
						{{message.name}}
						<span ng-if="message.type == 'message'">:</span>
					</span>
					<span class='message-contents'>{{message.content}}</span>
					<span class='message-time pull-right'>{{message.time}}</span>
				</li>
			</ul>
			<div class='chat-room-typing'>
				<span ng-if='someoneTyping.length == 1' >{{someoneTyping[0].name}} is typing</span>
				<span ng-if='someoneTyping.length == 2' >{{someoneTyping[0].name}} and {{someoneTyping[1].name}} is typing</span>
				<span ng-if='someoneTyping.length >= 3' >Several people are typing</span>
			</div>
			<form method='post' ng-submit='sendMessage()' name='sendMessageForm'>
				<div class='form-group has-feedback' ng-class="{ 'has-error' : sendMessageForm.content.$invalid && sendMessageForm.content.$dirty }">
					<input class='form-control input-lg content-input' type='text' name='content' ng-model='createMessageInfo.content' placeholder='Message' ng-minlength='3' ng-maxlength='4000' ng-change="inputChanged()" required autofocus>
					<span class='form-control-feedback'></span>
				</div>
				<button type='submit' ng-disabled='sendMessageForm.$invalid' class='btn btn-lg btn-block btn-primary send-message-button'>Send Message</button>
				<div ng-init="setForm(sendMessageForm);"></div>
			</form>
		</div>
	</div>
</div>
